@page "/user/create"
@using Domain.Services.Intefaces.Person
@using Domain.Services.Intefaces.Roles
@using Domain.Services.Intefaces.Account
@inject IJSRuntime _jsRuntime
@inject IPersonServices _personServices
@inject IRolesServices _rolesServices
@inject IAccountServices _accountServices
@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary mb-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <label class="form-label d-flex justify-content-center">@GetRandomLoadingMessage()</label>
        </div>
    </div>
}
else
{
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90vh;">
        <div class="mx-auto">
            <div class="card shadow-sm">
                <div class="card-header" style="border: none;">
                    Cadastro de usuários
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">E-mail</label>
                            <div class="input-group">
                                <i class="bi bi-envelope input-group-text"></i>
                                <input type="email" class="form-control" placeholder="Digite o e-mail" @bind="_email" @bind:event="oninput" @onchange="OnInputEmailChanged" @ref="_elementReference" />
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Perfil</label>
                            <div class="input-group">
                                <i class="bi bi-person input-group-text"></i>
                                <select class="form-select" @bind="_roleId">
                                    <option selected>Selecione o perfil</option>
                                    @foreach (var role in _roles)
                                    {
                                        <option value="@role.RoleId">@role.Name.Replace("Administrator", "Administrador").Replace("Developer", "Desenvolvedor")</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Senha</label>
                            <div class="input-group">
                                <i class="bi bi-lock input-group-text"></i>
                                <input type="@_passwordInputType" class="form-control" placeholder="Digite a senha" @bind="_password" @bind:event="oninput" />
                                <button type="button" class="btn btn-outline-secondary" @onclick="TogglePasswordVisibility">
                                    <i class="bi @_passwordIcon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 mb-5">
                            <label class="form-label">Confirmar senha</label>
                            <div class="input-group">
                                <i class="bi bi-lock input-group-text"></i>
                                <input type="@_passwordInputType" class="form-control" placeholder="Digite novamente a senha" @bind="_confirmPassword" @bind:event="oninput" />
                                <button type="button" class="btn btn-outline-secondary" @onclick="TogglePasswordVisibility">
                                    <i class="bi @_passwordIcon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <button type="button" class="btn btn-secondary shadow-sm">
                            <span class="bi bi-x-circle me-1"></span> Limpar
                        </button>
                        <button type="button" class="btn btn-primary shadow-sm" @onclick="OnSubmitAsync" disabled="@(_isSpinning)">
                            @if (_isSpinning)
                            {
                                <div class="spinner-grow spinner-grow-sm text-white" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                            <span class="@(!_isSpinning ? "me-1 bi bi-check-circle" : "")"></span> Cadastrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div class="modal" id="userCreateSuccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mb-3">
            <div class="modal-header" style="border:none;">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Sucesso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="border:none;">
                <i class="bi bi-check-circle-fill text-success ms-3 mt-5 fs-4"></i>
                <label class="form-label ms-1 p-3">Tudo certo! Cadastro realizado com sucesso.</label>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="userCreateModalSearching" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mb-5">
            <div class="modal-body text-center mt-5" style="border: none;">
                <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="mt-5 mb-5">
                    <label class="form-label">Aguarde enquanto realizamos a busca do usuário...</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="userCreateFailureSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mb-3">
            <div class="modal-header" style="border:none;">
                <h1 class="modal-title fs-5" id="ModalFailureToggleLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="border:none;">
                <i class="bi bi-exclamation-triangle-fill text-danger ms-3 mt-5 fs-4"></i>
                <label class="form-label ms-1 p-3">Não conseguimos localizar o usuário. Verifique as informações e tente novamente.</label>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="userCreateFailureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mb-3">
            <div class="modal-header" style="border:none;">
                <h1 class="modal-title fs-5" id="ModalFailureToggleLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="border:none;">
                <i class="bi bi-exclamation-triangle-fill text-danger ms-3 mt-5 fs-4"></i>
                <label class="form-label ms-1 p-3">@_message</label>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    var userSearchingModal = new bootstrap.Modal(document.getElementById('userCreateModalSearching'), {
        keyboard: false
    });

    var userCreateFailureSearchModal = new bootstrap.Modal(document.getElementById('userCreateFailureSearchModal'), {
        keyboard: false
    });

    var successModal = new bootstrap.Modal(document.getElementById('userCreateSuccessModal'), {
        keyboard: false
    });

    var failureModal = new bootstrap.Modal(document.getElementById('userCreateFailureModal'), {
        keyboard: false
    });

    function showFailureModal() {        
        failureModal.show();
    }

    function showSuccessModal() {
        successModal.show();
    }

    function showFailureSearchModal() {
        userCreateFailureSearchModal.show();
    }

    function hideFailureSearchModal() {
        userCreateFailureSearchModal.hide();
    }

    function showModal() {
        userSearchingModal.show();
    }

    function closeModal() {
        userSearchingModal.hide();
    }
</script>